.tic_toc {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 34px;

  hr {
    margin-left: 6px;
    margin-right: 6px;
  }
  &__turn {
    display: flex;
    align-items: center;
    justify-content: center;

    & > svg {
      margin-left: 10px;
    }
  }

  &__board {
    border-spacing: 8px;
    margin: 0 auto;
    width: 100%;

    tr {
      white-space: nowrap;
    }

    &.winner,
    &.tie {
      td {
        cursor: default;
      }
    }

    td {
      /* hacer las celdas cuadradas dado un ancho*/
      width: 30%;
      height: 0px;
      padding-bottom: 30%;

      border-radius: 2px;
      box-shadow: 0 2px 4px 0 rgba(121, 122, 122, 0.4);
      position: relative;

      &.cell-o {
        background-color: var(--back-o);
      }

      &.cell-x {
        background-color: var(--back-x);
      }

      .icon-x,
      .icon-o {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        height: 60%;
      }
    }
  }

  &__score {
    display: flex;
    flex-direction: row;
    gap: 30px;

    &__x,
    &__o {
      display: flex;
      flex-grow: 2;
      align-items: center;
      gap: 8px;
    }

    &__x {
      justify-content: end;
    }

    &__o {
      justify-content: start;
    }
  }

  &__reset_btn {
    @extend .typo, .typo_semi;

    width: 100%;
    background-color: $primary-color;
    color: white;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.23px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 3px;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: darken($color: $primary-color, $amount: 10);
    }
  }

  &__change_btn {
    @extend .typo_high_m;

    border: 1px solid $primary-color;
    border-radius: 2px;
    cursor: pointer;
    background-color: white;
    color: $primary-color;
    padding: 8px 6px;
    margin-top: 16px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: 6px;
    display: block;

    &:hover {
      background-color: $primary-color;
      color: white;
    }
  }
}
